<!DOCTYPE html>
{% extends "general_information/base.html" %}
{% block navbar %}
<style>
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
</style>
<h1>
Dangal Hong Kong Box Office Collection Day 8: Aamir Khan's Film Ends First Week On A 'Sensational' Note</h1>
<img src="https://i.ndtvimg.com/i/2017-09/aamir-khan-youtube_640x480_51504260493.jpg" alt="Italian Trulli">
<p>NEW DELHI:
HIGHLIGHTS
Dangal collected $5.2 million on its opening weekend in Hong Kong
Dangal released in Hong Kong on August 24
Dangal earned over Rs. 375 crore in India
 Actor Aamir Khan's blockbuster film Dangal has completed its first week in Hong Kong on a 'sensational' note, reported trade analyst Taran Adarsh. The wrestling drama, directed by Nitesh Tiwari, released in Hong Kong on August 24 and since then the film has been ruling the box office. According to Mr Adarsh, Dangal managed to collect $8.6 million (Rs. 7.04 crore) in its first week in Hong Kong. "#Dangal concludes Week 1 on a SENSATIONAL note in Hong Kong... Collects HK$ 8.6 million... Total: HK$ 8,612,961 [ 7.04 cr]," he tweeted. Earlier, Mr Adarsh reported that Dangal collected $5.2 million on its opening weekend and managed to place itself on the second spot in Hong Kong on Saturday. "#Dangal started at No 2 at Hong Kong BO, but hit No 1 spot on Sat... Witnesses 96.48% growth on Sat," he wrote.</p>

{% endblock %}
