<!DOCTYPE html>
{% extends "general_information/base.html" %}
{% block navbar %}
<style>
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
</style>
<h1>
'Housefull 4' Box office collection day 11 : Akshay Kumar starrer mints excellent business on the second Monday

</h1>
<img src="https://static.toiimg.com/photo/msid-71916085/71916085.jpg?365417" alt="Italian Trulli">
<p>

  The Diwali release comedy entertainer 'Housefull 4' is receiving great response from the audiences from the box office. The multi-starrer film is really running strong at the theatres and is earning good business.
  According to the latest report of BoxOfficeIndia.com, the film saw a super strong second Monday with collections of Rs. 5.50-5.75 crore nett which is an excellent number for the second Monday behind only Shahid Kapoor starre 'Kabir Singh' and Vicky Kaushal starrer 'Uri - The Surgical Strike' for 2019. The Akshay Kumar starrer has easily beaten the second Monday numbers of the 'War' and 'Mission Mangal'.

</p>

{% endblock %}
