<!DOCTYPE html>
{% extends "general_information/base.html" %}
{% block navbar %}
<style>
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
</style>
<h1>
  'There'll never be a legend like him ever again': Love and b'day wishes pour in as Bollywood's ‘Shahenshah’ turns 77


</h1>
<img src="https://img.etimg.com/thumb/msid-71538066,width-643,imgsize-97644,resizemode-4/celebs-from-tinsel-town-pay-tribute-to-the-king-of-bollywood-on-his-77th-birthday-image-instagram/-amitabh-bachchan.jpg" alt="Italian Trulli">
<p>

  It is once in a lifetime that there comes a star who leaves an impact quite like the Big B has. The megastar not only occupies a huge place in the hearts of Indians, but has also amassed millions of fans across the globe.

  With a career spanning over five decades, Amitabh Bachchan has essayed diverse roles and played a plethora of characters in his films. From tickling our funny bone with his tongue-in-cheek humour in ‘Kaun Banega Crorepati’ (KBC) to delivering hard-hitting dialogues in ..



</p>

{% endblock %}
