<!DOCTYPE html>
{% extends "general_information/base.html" %}
{% block navbar %}
<h1>Welcome to latest news</h1>
<li><a href="aamir.html">Aamir Khan</a></li>
<li><a href="amitabh.html">Amitabh Bachchan</a></li>
<li><a href="naseer.html">Naseeruddin Shah</a></li>
<li><a href="shahrukh.html">Shahrukh Khan</a></li>
<li><a href="salman.html">Salman Khan</a></li>
<li><a href="sanjay.html">Sanjay Dutt</a></li>
<li><a href="akshay.html">Akshay Kumar</a></li>
<li><a href="pacino.html">Al Pacino</a></li>
<li><a href="bale.html">Chrstian Bale</a></li>
<li><a href="phoenix.html">Joaquin Phoenix</a></li>
{% endblock %}
