<!DOCTYPE html>
{% extends "general_information/base.html" %}
{% block navbar %}
<style>
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
</style>
<h1>
36 yrs on, Naseeruddin Shah to reprise his role in 'Jaane Bhi Do Yaaro' sequel

</h1>
<img src="https://img.etimg.com/thumb/msid-68109465,width-643,imgsize-372184,resizemode-4/naseeruddinshah1.jpg" alt="Italian Trulli">
<p>
  MUMBAI: A sequel to Kundan Shah-directed 1983 cult classic "Jaane Bhi Do Yaaro" is in the pipeline and will see Naseeruddin Shah reprise his role.

  Shah and Ravi Baswani played two struggling photographers in the satire on corruption.

  "We are doing 'Jaane Bhi Do Yaaro' sequel. The script is ready. Kundan ji had written it. Naseeruddin Shah is reprising his role. We will have someone elese from Raviji's part as he is no longer with us. The actors who are available are Naseeruddin  ..



</p>

{% endblock %}
