<!DOCTYPE html>
{% extends "general_information/base.html" %}
{% block navbar %}
<style>
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
</style>
<h1>
Al Pacino Opens Up On His Bond With Robert De Niro, Says He Is Thankful For His Friendship

</h1>
<img src="https://s.yimg.com/ny/api/res/1.2/KYUDHbrSXGp3fSlQP_bQzQ--~A/YXBwaWQ9aGlnaGxhbmRlcjtzbT0xO3c9ODAw/https://media-mbst-pub-ue1.s3.amazonaws.com/creatr-images/2019-10/b9c1ca80-e4f0-11e9-bb86-323e0a40613e" alt="Italian Trulli">
<p>
  Hollywood icon Al Pacino has opened up about the bond he shares with another icon -- Robert De Niro. "Camaraderie got us together. We're really close. We don't see each other very much, but when we do we found we shared certain things. In a way, I think we've helped each other throughout life," revealed Pacino, adding that he has known De Niro since 1968.

  The two acting powerhouses come together in Martin Scorsese's new film, The Irishman, and Pacino says he is very thankful for his friendship with De Niro
  Pacino opened up on the subject in an interview to The Guardian newspaper. "Early on in our careers, we connected from time to time and we found we had similar things happening to us. Our lives took on a whole different kind of thing," he said.

The Irishman reunites De Niro with Pacino for the fourth time after The Godfather Part II, Heat, and Righteous Kill.

The film is based on the 2004 memoir I Heard You Paint Houses by former investigator Charles Brandt.

The Irishman released on November 1 for a brief theatrical run. It will then go live on Netflix on November 27.


</p>

{% endblock %}
