<!DOCTYPE html>
{% extends "general_information/base.html" %}
{% block navbar %}
<style>
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
</style>
<h1>
Is Joker 2 on the Cards? Here's What Joaquin Phoenix Has to Say

</h1>
<img src="https://ichef.bbci.co.uk/news/660/cpsprodpb/D94C/production/_108582655_hi056164874.jpg" alt="Italian Trulli">
<p>
  Todd Phillips' Joker starring Joaquin Phoenix smashed box-office records to become the highest-grossing R rated movie at the box office, beating big leagues like the Deadpool, Fifty Shades of Grey, The Matrix Reloaded, Logan, It and many more films. Going by the box office figures, it wouldn't be wrong to say that if the makers convert it into a franchise to explore the dark and mysterious character of Arthur Fleck, it will be very profitable for them. However, Phoenix has a different opinion.

  Talking to the LA Times' The Envelope, the actor said, "I wouldn't just do a sequel just because the first movie is successful, that's ridiculous." However, the actor added that the director and he did talk about a sequel while shooting for the film. "Long before the release or before we had any idea if it would be successful, we talked about sequels," he said.


</p>

{% endblock %}
