<!DOCTYPE html>
{% extends "general_information/base.html" %}
{% block navbar %}
<style>
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
</style>
<h1>
'Radhe' vs 'Laxmmi Bomb'! Salman Khan and Akshay Kumar to lock horns at box office on Eid 2020

</h1>
<img src="https://cdn.dnaindia.com/sites/default/files/styles/full/public/2019/11/03/879272-laxmmibomb-radhe-eid2020.jpg" alt="Italian Trulli">
<p>
  A couple of days back, Salman Khan took to his social media pages and announced his forthcoming film, titled Radhe. In the film directed by Prabhdheva, the superstar stars alongside Jackie Shroff, Randeep Hooda, Sohail Khan and Disha Patani. Radhe went on floors on November 1, 2019. Well, like every year, this is going to be Salman's Eidi to his fans in the year 2020. But this time, he is not going to get a solo release.

  Yes, Salman's Radhe will be releasing alongside Akshay Kumar and Kiara Advani starrer Laxmmi Bomb. The movie is the official Hindi remake of Tamil horror comedy film titled Muni 2: Kanchana which starred and was directed by Raghava Lawrence. While Hindi film is helmed by Raghava himself. The first look of the film was unveiled during Navratri 2019, and it left an impressive mark on everyone.


</p>

{% endblock %}
