<!DOCTYPE html>
{% extends "general_information/base.html" %}
{% block navbar %}
<style>
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
</style>
<h1>
Sanjay Dutt and Arshad Warsi to reunite for a film, and no, it’s not the Munna Bhai series

</h1>
<img src="https://cdn.dnaindia.com/sites/default/files/styles/full/public/2019/11/06/879584-sanjaydutt-arshadwarsi-movie.jpg" alt="Italian Trulli">
<p>

They were much loved for the portrayal of Munna Bhai and Circuit in Rajkumar Hirani’s hit franchise. So much so, that the fans have been curious to know when the duo, Sanjay Dutt and Arshad Warsi, would team up for the next instalment of the Munna Bhai series. Finally, the news of their reunion has reached Bombay Times. However, it isn’t for the Munna Bhai sequel, but a fresh project altogether. Arshad said, “Sanju and I will start working on a film next year. It’s a crazy script, a project by Sajid-Farhad. The film is likely to go on floor by March-April next year. We’ll probably head to Budapest for the first schedule of the film.” Talking about the story of the film, Arshad shared, “Sanju plays the role of a blind don. I am his eyes. The challenge is that nobody can know that he is blind, and I cannot tell anyone that he is blind. I am actually directing him throughout the film. It’s quite a fun script.”

</p>

{% endblock %}
