<!DOCTYPE html>
{% extends "general_information/base.html" %}
{% block navbar %}
<style>
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
</style>
<h1>

On Shah Rukh Khan's Birthday, Dubai's Burj Khalifa Lit Up With A Birthday Wish For 'King Of Bollywood'

</h1>
<img src="https://c.ndtvimg.com/2019-11/d0tpkjf_shah-rukh-khan-instagram_625x300_03_November_19.jpg" alt="Italian Trulli">
<p>

  NEW DELHI:
  HIGHLIGHTS
  SRK shared the video on social media
  "Thanks for making me shine so bright," Shah Rukh Khan wrote
  Rishi Kapoor and Ranveer Singh also reacted to the video
  Dubai's iconic skyscraper Burj Khalifa lit up with Bollywood actor Shah Rukh Khan's name to mark his 54th birthday on Saturday. The world's tallest building illuminated with the message, "Happy birthday to the king of Bollywood Shah Rukh Khan" and a spectacular fountain show with his song Dhoom Tana Tana from Om Shanti Om playing in the background. SRK, who is the brand ambassador for Dubai Tourism, shared the video clip on Instagram.
  "To my brother, the awesomely cool Mr. Mohamed Alabbar and Burj Khalifa ...Emaar Dubai. Thanks for making me shine so bright. Your love and kindness is unsurpassable. Wow! This is really the tallest I have ever been. Love you Dubai. It's my birthday and I'm the guest," he captioned the video.

</p>

{% endblock %}
