<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Moodvies</title>
    <link rel="stylesheet" href="{%static "css/style.css" %}">
</head>

<body>
    <div class="complete">
    <nav>

          <p> <img src="{%static "images/logo.png" %}" alt="" style = "width:164.92px;"> </p>
        <ul>
          <li> <a href="{% url 'general_information:home_page' %}">Home</a></li>
            <li>  <a  href="{% url 'general_information:general_information_home' %}">General Information</a></li>
            <li> <a  href="{% url 'movie_details:movies_list' %}">Movies</a> </li>
            <li>  <a  href="{% url 'latest_news:latest_news_home' %}">News</a></li>
            <li>  <a  href="{% url 'filmstars:filmstars_list' %}">Actors</a>  </li>
            <li>  <a  href="{% url 'forums:forums_home' %}">Forums</a>  </li>
            <li> <a  href="{% url 'user_details:form_signup' %}">Registration</a> </li>
            {% if user.is_authenticated %}
            <li><a  href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li><a  href="{% url 'user_details:user_login' %}">Login</a></li>
            {% endif %}
          </ul>
        </ul>
    </nav>
    {% block navbar %}
    <header>
      <h1>Find the
          most suitable Contents
          as per your Mood</h1>

      <form action="" method="post" class="moodsearch clearfix">
          <div class="sf">
              <img class="mood-ico" src="{%static "css/mood.svg" %}" alt="" srcset="">
              <input type="text" name="mood" class="mood" placeholder="Search via Mood">
          </div>
          <input type = "submit" class="moods" value= "Search">
          {% csrf_token %}
        </form>
          <form method="post" class="moodsearch clearfix">
          <div class="sf">
              <img class="mood-ico" src="{%static "css/mood.svg" %}" alt="" srcset="">
              <input type="text" name="movie_search" class="mood" placeholder="Search Movies">
          </div>
          <button class="movies">Search</button>
          {% csrf_token %}
      </form>
{% endblock %}
</body>

</html>
