<!DOCTYPE html>
{% extends "general_information/base.html" %}
{% load staticfiles %}
{% block navbar %}
<h1>kfsldjfd</h1>
    <img src="{%static "images/er.png" %}" alt="Uh oh">
    <div class="patching">
      {% if patch_notes %}
      <table>
        <thead>
          <th>Stuff1</th>
        </thead>
        {% for acc in patch_notes %}
        <tr>
          <td>{{ acc.version_id}}</td>
        </tr>
        {% endfor %}
      </table>

      {% else %}
      <p>NO ACCESS RECORDS FOUND</p>
      {% endif %}
    </div>
{% endblock %}
