<!DOCTYPE html>
{% extends "general_information/base.html" %}
{% block navbar %}




{% if registered %}
<h1>Thank you for registering</h1>
{% else %}

    <h1>Fill the form</h1>
    <div class="container">
        <form enctype="multipart/form-data" method="POST">
          {{user_login_details.as_p}}
          {{user_personal_details.as_p}}

          <input type="submit" name="btn btn-primary" value="Submit">
          {% csrf_token %}
        </form>
      </div>

{% endif %}
      {% endblock %}
